@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html, body {
    height: 100%;
}

header {
    background-color: rgba(128, 128, 128, 0.315);
    padding: 10px 2%;
    display: flex;
    justify-content: space-between;
}

.cabecalho {
    color: white;
    display: flex;
}

.seach {
    margin: 8px;
}

.seach svg {
    cursor: pointer;
}

.seach svg:hover {
    opacity: 0.7;
}

.logo {
    margin-left: 10px;
    margin-top: 7px;
}

.cabecalho svg {
    margin: 0 10px;

}

.main{
    display: flex;
    flex-wrap: wrap;
    height: 100%;
}

.sidebar {
    width: 20%;
    background-color: white;
    height: 100%;
}

.sidebar a.sidebar-active {
    border-left: 4px solid rgba(128, 128, 128, 0.927);
    background-color: rgb(245, 245, 245);
    color: #777;
    font-weight: bold;
}
.sidebar a.sidebar-active > svg {
    color: #777;
}

.sidebar h3 {
    color: #333;
    font-size: 20px;
    margin: 10px;
}

.sidebar a {
    display: block;
    text-decoration: none;
    padding: 10px 15px;
    color: #444;
}

.sidebar a:hover {
    border-left: 4px solid rgba(128, 128, 128, 0.927);
    background-color: rgb(245, 245, 245);
    color: #777;
    font-weight: bold;
}

.sidebar a:hover .sidebar a > svg {
    color: #777;
}
.sidebar a > svg {
    color: #444;
}
.content {
    width: 80%;
    background-color: rgb(245, 245, 245);
    padding: 20px;
}

.titulo-secao {
    border-radius: 10px;
    background-color: white;
    padding: 10px;
}

.titulo-secao h2 {
    font-size: 19px;
}

.titulo-secao p {
    font-size: 14px;
}

.titulo-secao svg {
    color: rgba(128, 128, 128, 0.315);
}

.separator {
    width: 100%;
    height: 1px;
    border-color: rgb(5, 5, 5);
}

.box-info {
    width: 100%;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.box-info-single {
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
    color: white;
    width: 100%;
    margin: 0 10px;
    padding: 30px;
}

.box-info-single svg {
    font-size: 28px;
}

#unidade, #data {
    display: flex;
    justify-content: space-between;
    background-color: rgb(245, 245, 245);
    padding: flex;
    width: 120px;
    height: 30px;
    margin: 0 10px;
    font-family: Arial, Helvetica, sans-serif;
}






/*
.criarconta a {
    text-decoration: solid;
    color: rgba(0, 0, 0, 0.605);
    font-family: Arial, Helvetica, sans-serif;
}

:hover.criarconta a {
    color: black;
}

div.cabecalho {
    background-color: rgba(0, 0, 0, 0.456);
    width: flex;
    height: 65px;
    border-radius: 4px;
    display: flex;
}

html, body {
    height: 100%;
}

.menu {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
}

div.seach {
  margin-top:20px;
  margin-left: 10px;
}

.navbar {
    width: 20%;
    background-color: rgba(0, 0, 0, 0.456);
    height: 100%;
}

.ativo {
    background-color: rgba(0, 0, 0, 0.288);
    border-left: 4px solid black;
    font-weight: bolder;
}

.navbar h3 {
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}

.navbar a {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    display: block;
    padding: 10px 15px;
}

.navbar a > svg{
    color: white;
}

.navbar a:hover {
    background-color: rgba(0, 0, 0, 0.288);
    border-left: 4px solid black;
    font-weight: bolder;
}

.parte1 {
    width: 85%;
    height: flex;
    background-color: rgb(241, 241, 241);
    padding: 20px;
}

.titulo {
    background-color: white;
    border-radius: 5px;
    padding: 5px;

}

.titulo h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 19px;
}

.titulo p {
    font-family: Arial, Helvetica, sans-serif;

}

.boxinfo {
    background-color: black;
    border-radius: 5px;
    height: flex;
    width:150px;
}

.boxinfo {
    background-color: black;
    border-radius: 5px;
    height: 100px;
    width:150px;
}

.total {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
    padding: 5%;
}
*/
