@charset "UTF-8";

body, html {
    height: 100%;
}
/*index*/

.criarconta a {
    text-decoration: solid;
    color: rgba(0, 0, 0, 0.605);
    font-family: Arial, Helvetica, sans-serif;
}

:hover.criarconta a {
    color: black;
}

/*Dashboard*/

div.cabecalho {
    background-color: rgba(0, 0, 0, 0.456);
    width: 100%;
    height: 60px;
    display: flex;
}

.menu {
    height: 100%;
}

div.seach {
    margin-left: 10px;
}

.navbar {
    width: 20%;
    background-color: rgba(0, 0, 0, 0.859);
    height: 100%;
}
.navbar h3 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    color: black;
}

.navbar a {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    display: block;
    margin-left: 15px;
    margin-top: 10px;
}

:hover.ativo {
    color: rgba(0, 0, 0, 0.605);
}

.primeiro {
    background-color: rgba(128, 128, 128, 0.69);
    width: 80%;
}