@charset "UTF-8";

body, html {
    height: 100%;
}


.criarconta a {
    text-decoration: solid;
    color: rgba(0, 0, 0, 0.605);
    font-family: Arial, Helvetica, sans-serif;
}

:hover.criarconta a {
    color: black;
}

div.cabecalho {
    background-color: rgba(0, 0, 0, 0.456);
    width: flex;
    height: 60px;
    display: flex;
}

.menu {
    height: 100%;
}

div.seach {
  margin-top:20px;
  margin-left: 10px;
}

.navbar {
    width: 10%;
    background-color: rgba(0, 0, 0, 0.456);
    height: 100%;
}

.ativo {
    background-color: rgba(0, 0, 0, 0.288);
    border-left: 4px solid black;
    font-weight: bolder;
}

.navbar h3 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    color: black;
}

.navbar a {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    display: block;
    padding: 10px 15px;
}

.navbar a > svg{
    color: white;
}

.navbar a:hover {
    background-color: rgba(0, 0, 0, 0.288);
    border-left: 4px solid black;
    font-weight: bolder;
}

.parte1 {
    background-color: rgb(241, 241, 241);
}